<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chen.mapper.SysUserMapper">
    <select id="findUserByAccount" resultType="cn.chen.entity.SysUser">
        select * from t_user where account = #{s};
    </select>
    <select id="AllUser" resultType="cn.chen.entity.SysUser">
        select * from t_user;
    </select>
    <delete id="delById" parameterType="int">
        delete from t_user where id = #{id};
    </delete>
    <select id="findById" resultType="cn.chen.entity.SysUser" parameterType="int">
        select * from t_user where id = #{id};
    </select>
    <insert id="addUser" parameterType="cn.chen.entity.SysUser">
        insert into t_user (account ,password,    role,    phone, nickname,   img,    closed)
                  value (#{account},#{password},#{role},#{phone},#{nickname},#{img},#{closed});
    </insert>
</mapper>